<!-- ======= Footer Section/Seção de Rodapé ======= -->
<section class="footer">
  <div class="newsletter">
      <h3></h3>
      <form action="">
          <input type="email" name="" placeholder="Digite o seu e-mail: " id="">
          <input type="submit" value="Se Inscrever">
      </form>
  </div>
  <div class="box-container">
      <div class="box">
          <h3>Nosso Cardápio</h3>
          <a href="#">Pizzas</a>
          <a href="#">Sanduíches</a>
          <a href="#">Hambúrgue</a>
          <a href="#">Frango</a>
          <a href="#">E Mais...</a>
      </div>
      <div class="box">
          <h3>Links Rápidos</h3>
          <a href="#home"> <i class="fas fa-arrow-right"></i> Home</a>
          <a href="#about"> <i class="fas fa-arrow-right"></i> Sobre</a>
          <a href="#popular"> <i class="fas fa-arrow-right"></i> Popular</a>
          <a href="#menu"> <i class="fas fa-arrow-right"></i> Cardápio</a>
          <a href="#order"> <i class="fas fa-arrow-right"></i> Pedido</a>
          <a href="#blogs"> <i class="fas fa-arrow-right"></i> Blogs</a>
      </div>
      <div class="box">
          <h3>Links Extras</h3>
          <a href="#"> <i class="fas fa-arrow-right"></i> Meu Pedido</a>
          <a href="#"> <i class="fas fa-arrow-right"></i> Minha Conta</a>
          <a href="#"> <i class="fas fa-arrow-right"></i> Meu Favorito</a>
          <a href="#"> <i class="fas fa-arrow-right"></i> Termos de Uso</a>
          <a href="#"> <i class="fas fa-arrow-right"></i> Política de Privacidade</a>
      </div>
      <div class="box">
          <h3>Horário de funcionamento</h3>
         <p>Segunda-feira : 7:00 ás 22:00</p>
         <p>Terça-feira : 7:00 ás 22:00</p>
         <p>Quarta-feira : 7:00 ás 22:00</p>
         <p>Quinta-feira : 7:00 ás 22:00</p>
         <p>Sexta-feira : 7:00 ás 22:00</p>
         <p>Sábado e Domingo : fechado</p>
      </div>
  </div>
  <div class="bottom">
      <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fab fa-pinterest"></a>
      </div>
      <div class="credit"> Criado Por <span>Daniel Oliveira</span> | Todos os Direitos Reservados </div>
  </div>
</section>



