<!-- ======= About Section/Seção Sobre Nós ======= -->
<section class="about" id="about">
  <div class="image">
      <img src="../../assets/about-img.png" alt="">
  </div>

  <div class="content">
      <span>Porque escolher-nos?</span>
      <h3 class="title">O Que torna a nossa comida deliciosa!</h3>
      <p>Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
      <a href="#" class="btn">Consulte Mais Informação</a>
      <div class="icons-container">
          <div class="icons">
              <img src="../../assets/serv-1.png" alt="">
              <h3>Entrega rápida</h3>
          </div>
          <div class="icons">
              <img src="../../assets/serv-2.png" alt="">
              <h3>Comida Fresca</h3>
          </div>
          <div class="icons">
              <img src="../../assets/serv-3.png" alt="">
              <h3>melhor qualidade</h3>
          </div>
          <div class="icons">
              <img src="../../assets/serv-4.png" alt="">
              <h3>Suporte 24 horas</h3> <!--Suporte 24 horas por dia, 7 dias por semana-->
          </div>
      </div>
  </div>
</section>
