<!-- ======= Order Section/Seção de Pedidos ======= -->
<section class="order" id="order">
  <div class="heading">
      <span>Peça agora</span>
      <h3>Entrega em domicílio mais rápida</h3>
  </div>
  <div class="icons-container">
      <div class="icons">
          <img src="../../assets/icon-1.png" alt="">
          <h3> 7h30 às 22h30 </h3>
      </div>
      <div class="icons">
          <img src="../../assets/icon-2.png" alt="">
          <h3>55+ (92) 912215202 </h3>
      </div>
      <div class="icons">
          <img src="../../assets/icon-3.png" alt="">
          <h3> Manaus, Brasil - 69090-380</h3>
      </div>
  </div>
  <form action="">
      <div class="flex">
          <div class="inputBox">
              <span>Seu nome</span>
              <input type="text" placeholder="Nome do cliente" name="" id="">
          </div>
          <div class="inputBox">
              <span>Seu número</span>
              <input type="number" placeholder="Número do cliente" name="" id="">
          </div>
      </div>
      <div class="flex">
          <div class="inputBox">
              <span>Seu pedido</span>
              <input type="text" placeholder="Comida que você quer" name="" id="">
          </div>
          <div class="inputBox">
              <span>Quantos</span>
              <input type="number" placeholder="Números ou ordem" name="" id="">
          </div>
      </div>
      <div class="flex">
          <div class="inputBox">
              <span>Seus detalhes</span>
              <input type="text" placeholder="Sua mensagem" name="" id="">
          </div>
          <div class="inputBox">
              <span>Hora de pegar</span>
              <input type="datetime-local">
          </div>
      </div>
      <div class="flex">
          <div class="inputBox">
              <span>Seu endereço</span>
              <textarea placeholder="Seu endereço" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="inputBox">
              <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31873.777875368487!2d-60.
              00014873800121!3d-3.0349674085442957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
              1!3m3!1m2!1s0x926c1a35b6ea5203%3A0x55b9105841c57f2e!2sCidade%20Nova%2C%20Manaus%20-%20AM!
              5e0!3m2!1spt-BR!2sbr!4v1645622121697!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy">
              </iframe>
          </div>
      </div>
      <input type="submit" value="Proceder ao pedido" class="btn">
  </form>
</section>
