<!-- ======= Popular Section/Seção popular ======= -->
<section class="popular" id="popular">
  <div class="heading">
      <span>Comida Popular</span>
      <h3>Nossos Pratos Especiais</h3>
  </div>
  <div class="box-container">
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-1.png" alt="">
          </div>
          <div class="content">
              <h3>Massas Deliciosas</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$15.00 <span>$30.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-2.png" alt="">
          </div>
          <div class="content">
              <h3>Hambúrguer Artesanal</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$18.00 <span>$25.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-3.png" alt="">
          </div>
          <div class="content">
              <h3>Pizzas Tradicionais</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$30.00 <span>$45.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-4.png" alt="">
          </div>
          <div class="content">
              <h3>Hambúrguer Especial</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$25.00 <span>$32.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-5.png" alt="">
          </div>
          <div class="content">
              <h3>Pizzas de Carne Seca</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$40.00 <span>$55.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-6.png" alt="">
          </div>
          <div class="content">
              <h3>Pizzas Vegetarianas</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$30.00 <span>$47.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-7.png" alt="">
          </div>
          <div class="content">
              <h3>Sanduíches Tradicionais</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$15.00 <span>$22.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <div class="image">
              <img src="../../assets/food-8.png" alt="">
          </div>
          <div class="content">
              <h3>Pizzas Especiais</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span> (50) </span>
              </div>
              <div class="price">$50.00 <span>$65.00</span></div>
              <a href="#" class="btn">Adicionar ao Carrinho</a>
          </div>
      </div>
  </div>
</section>
