<!-- Login Form/Formulario de Login -->
<div class="login-form-container">
  <form action="">
      <h3>Fomulário de Login</h3>
      <input type="email" name="" placeholder="Digite seu E-mail: " id="" class="box">
      <input type="password" name="" placeholder="Digite sua senha: " id="" class="box">
      <div class="remember">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me">Lembre de mim</label>
      </div>
      <input type="submit" value="Conecte-se agora" class="btn">
      <p>Esqueceu a senha? <a href="#">Clique aqui</a></p>
      <p>Não tem conta <a href="#">Criar uma</a></p>
  </form>
</div>
