 <!-- ======= Menu Section/Seção de Cardápio ======= -->
 <section class="menu" id="menu">
  <div class="heading">
      <span>Nosso Cardápio</span>
      <h3>Nossos Melhores Pratos</h3>
  </div>
  <div class="box-container">
      <a href="#" class="box">
          <img src="../../assets/menu-1.png" alt="">
          <div class="content">
              <h3>Sanduíches Deliciosos</h3>
              <div class="price">$15.00</div>
          </div>
      </a>
      <a href="#" class="box">
          <img src="../../assets/menu-2.png" alt="">
          <div class="content">
              <h3>Pizzas Deliciosas</h3>
              <div class="price">$40.00</div>
          </div>
      </a>
      <a href="#" class="box">
          <img src="../../assets/menu-3.png" alt="">
          <div class="content">
              <h3>Sanduíches Natural</h3>
              <div class="price">$10.00</div>
          </div>
      </a>
      <a href="#" class="box">
          <img src="../../assets/menu-4.png" alt="">
          <div class="content">
              <h3>Comida Deliciosa</h3>
              <div class="price">$11.00</div>
          </div>
      </a>
      <a href="#" class="box">
          <img src="../../assets/menu-5.png" alt="">
          <div class="content">
              <h3>Batata Frita Crocante</h3>
              <div class="price">$17.00</div>
          </div>
      </a>
      <a href="#" class="box">
          <img src="../../assets/menu-6.png" alt="">
          <div class="content">
              <h3>Pizzas Especiais</h3>
              <div class="price">$40.00</div>
          </div>
      </a>
  </div>
</section>
