/* ======= Banner Section/Seção de Banner ======= */
.banner .row-banner {
  background: url(../../assets/row-banner.png) no-repeat;
  height: 45rem;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.banner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}
.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}
.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.banner .grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 45rem;
}
.banner .grid-banner .grid:hover img {
  transform: scale(1.2);
}
.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
}
.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}
.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}
.banner .grid-banner .grid .content.center span {
  color: #666;
}
.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}
.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}
.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 0.5rem;
}
