<!-- ======= Banner Section/Seção de Banner ======= -->
<section class="banner">
  <div class="row-banner">
      <div class="content">
          <span>Queijo Duplo</span>
          <h3>X-Burguer</h3>
          <p>Com Coca Cola e Fritas</p>
          <a href="#" class="btn">Peça Agora</a>
      </div>
  </div>
  <div class="grid-banner">
      <div class="grid">
          <img src="../../assets/banner-1.png" alt="">
          <div class="content">
              <span>Oferta Especial</span>
              <h3>Até 25% de Desconto</h3>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="grid">
          <img src="../../assets/banner-2.png" alt="">
          <div class="content center">
              <span>Oferta Especial</span>
              <h3>Até 30% Extra</h3>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="grid">
          <img src="../../assets/banner-3.png" alt="">
          <div class="content">
              <span>Oferta Especial</span>
              <h3>Até 100% de reembolso</h3>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
  </div>
</section>
