<!-- Principal -->


<!-- Header Section -->
<app-header></app-header>

<!-- Shopping Cart Section -->
<app-shopping></app-shopping>

<!-- Login Section -->
<app-login></app-login>

<!-- Search Section -->
<app-search></app-search>

<!-- Home Section -->
<app-home></app-home>

<!-- About Section -->
<app-about></app-about>

<!-- Popular Section -->
<app-popular></app-popular>

<!-- Banner Section -->
<app-banner></app-banner>

<!-- Menu Section -->
<app-menu></app-menu>

<!-- Orders Section -->
<app-orders></app-orders>

<!-- Blogs Section -->
<app-blogs></app-blogs>

<!-- Footer Section -->
<app-footer></app-footer>
















