<!-- Shopping-cart section/Seção de Carrinho de Compras -->
<section class="shopping-cart-container">
  <div class="products-container">
      <h3 class="title">Seus produtos</h3>
      <div class="box-container">
          <div class="box">
              <i class="fas fa-times"></i>
              <img src="../../assets/menu-1.png" alt="">
              <div class="content">
                  <h3>Sanduíches deliciosos</h3>
                  <span> Quantidade: </span>
                  <input type="number" name="" value="1" id=""><br/>
                  <span> Preço : </span>
                  <span class="price"> $15.00 </span>
              </div>
          </div>
          <div class="box">
              <i class="fas fa-times"></i>
              <img src="../../assets/menu-2.png" alt="">
              <div class="content">
                  <h3>Pizzas deliciosas</h3>
                  <span> Quantidade: </span>
                  <input type="number" name="" value="1" id=""><br/>
                  <span> Preço : </span>
                  <span class="price"> $40.00 </span>
              </div>
          </div>
          <div class="box">
              <i class="fas fa-times"></i>
              <img src="../../assets/menu-3.png" alt="">
              <div class="content">
                  <h3>Sanduíches Natural</h3>
                  <span> Quantidade: </span>
                  <input type="number" name="" value="1" id=""><br/>
                  <span> Preço : </span>
                  <span class="price"> $10.00 </span>
              </div>
          </div>
          <div class="box">
              <i class="fas fa-times"></i>
              <img src="../../assets/menu-4.png" alt="">
              <div class="content">
                  <h3>Comida deliciosa</h3>
                  <span> Quantidade: </span>
                  <input type="number" name="" value="1" id=""><br/>
                  <span> Preço : </span>
                  <span class="price"> $11.00 </span>
              </div>
          </div>
          <div class="box">
              <i class="fas fa-times"></i>
              <img src="../../assets/menu-5.png" alt="">
              <div class="content">
                  <h3>Batata frita crocante</h3>
                  <span> Quantidade: </span>
                  <input type="number" name="" value="1" id=""><br/>
                  <span> Preço : </span>
                  <span class="price"> $17.00 </span>
              </div>
          </div>
          <div class="box">
              <i class="fas fa-times"></i>
              <img src="../../assets/menu-6.png" alt="">
              <div class="content">
                  <h3>Pizzas Especiais</h3>
                  <span> Quantidade: </span>
                  <input type="number" name="" value="1" id=""><br/>
                  <span> Preço : </span>
                  <span class="price"> $40.00 </span>
              </div>
          </div>
      </div>
  </div>


  <div class="cart-total">
      <h3 class="title"> Total do carrinho </h3>
      <div class="box">
          <h3 class="subtotal"> Subtotal : <span>$100</span> </h3>
          <h3 class="total"> Total : <span>$200</span> </h3>

          <a href="#" class="btn">Fazer o check-out</a>

      </div>
  </div>

</section>
