<!-- ======= Home Section/Seção Inicial ======= -->
<section class="home" id="home">
  <div class="content">
      <span>Bem-vindos gourmets</span>
      <h3>Diferentes temperos para os diferentes gostos</h3>
      <p>Leite de capivaris, leite de mula manquis sem cabeça. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
      <a href="#" class="btn">Peça agora</a>
  </div>
  <div class="image">
      <img src="images/home-img.png" alt="" class="home-img">
      <img src="images/home-parallax-img.png" alt="" class="home-parallax-img">
  </div>
</section>


<!-- ======= Category Section/Seção de Categoria ======= -->
<section class="category">
  <a href="#" class="box">
      <img src="images/cat-1.png" alt="">
      <h3>Combo</h3>
  </a>

  <a href="#" class="box">
      <img src="images/cat-2.png" alt="">
      <h3>Pizzas</h3>
  </a>

  <a href="#" class="box">
      <img src="images/cat-3.png" alt="">
      <h3>Sanduíches</h3>
  </a>

  <a href="#" class="box">
      <img src="images/cat-4.png" alt="">
      <h3>Frango Frito</h3>
  </a>

  <a href="#" class="box">
      <img src="images/cat-5.png" alt="">
      <h3>Salada</h3>
  </a>

  <a href="#" class="box">
      <img src="images/cat-6.png" alt="">
      <h3>Café</h3>
  </a>
</section>
